<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wishlist</title>
    <link rel="stylesheet" href="/utilities.css">
</head>

<body>
    <div class="ecom-navbar">
        <a href="/index.html">
            <div class="ecom-title landing-page-name">Adore</div>
        </a>

        <div class="ecom-navpills">
            <input class="ecom-search" type="text" placeholder="what are you searching for ?" />
            <div class="ecom-navpill">
                <a href="/components/cart/cart.html"><i class="fas fa-2x fa-shopping-cart ecom-cart"></i></a>
            </div>
            <div class="ecom-navpill">
                <a href="/components/wishlist/wishlist.html">
                    <i class="fas fa-2x fa wishlist-icon-heart ecom-wishlist"></i></a>
            </div>
            <div class="ecom-navpill">
                <i class="fas fa-2x fa-user-alt ecom-profile"></i>
            </div>
            <div class="ecom-navpill">
                <a href="/auth/login.html"><i class="fas fa-2x fa-sign-in ecom-login"></i></a>
            </div>
        </div>
    </div>
    <div class="products-container">
        <div class="card-ecom card">
            <img src="/assests/ecom-product1.jpg" alt="image" class="card-img card-img-ecom">
            <div class="card-ecom-badge">Trending!!</div>
            <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
            <div class="card-header">
                <div class="card-sub-title">Libas</div>
                <div class="card-title">floral dress</div>
                <div class="card-ecom-price">
                    <span class="card-ecom-price-current">Rs.799</span>
                    <span class="card-ecom-price-old">1299</span>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-btn-box">
                    <button class="ecom-btn primary-color">GO TO CART</button>
                </div>
            </div>
        </div>
        <div class="card-ecom card">
            <img src="/assests/ecom-product1.jpg" alt="image" class="card-img card-img-ecom">
            <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
            <div class="card-header">
                <div class="card-sub-title">Libas</div>
                <div class="card-title">floral dress</div>
                <div class="card-ecom-price">
                    <span class="card-ecom-price-current">Rs.799</span>
                    <span class="card-ecom-price-old">1299</span>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-btn-box">
                    <button class="ecom-btn primary-color">GO TO CART</button>
                </div>
            </div>
        </div>
        <div class="card-ecom card">
            <img src="/assests/ecom-product1.jpg" alt="image" class="card-img card-img-ecom">
            <div class="card-ecom-like-icon"><i class="fas fa-heart wishlist-icon"></i></div>
            <div class="card-header">
                <div class="card-sub-title">Libas</div>
                <div class="card-title">floral dress</div>
                <div class="card-ecom-price">
                    <span class="card-ecom-price-current">Rs.799</span>
                    <span class="card-ecom-price-old">1299</span>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-btn-box">
                    <button class="ecom-btn primary-color">GO TO CART</button>
                </div>
            </div>
        </div>

    </div>


</body>

</html>